/* Global ========================================================== */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.section {
  padding: 100px 0;
}

/* Titles ========================================================= */
.title {
  text-align: center;
  font: 700 2.6rem "Nunito", sans-serif;
  padding-bottom: 50px;
}

/* Scrollbar ======================================================= */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Main ========================================================== */
/* .container {
  max-width: ;
} */

/* Header ========================================================== */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
}

.logo img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.navbar {
  margin-right: 20px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  font-size: 1rem;
  padding-right: 24px;
  color: #fff;
  font-weight: 600;

  transition: 0.4s;
}

.navbar a:hover {
  color: rgb(61, 61, 61);
}

/* Home =========================================================== */
.section__home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url("./assets/perfil.svg") no-repeat center;
  background-size: cover;
  background-position: left center;
  width: 100%;
  height: 100vh;
  color: #fff;
  min-height: 500px;
}

.home-link {
  width: 25rem;
  padding-left: 120px;
  
}

.home-link__text {
  font-size: 2rem;
  padding: 15px 0;
}

.home-link__text span {
  color: rgb(238, 71, 196);
  font-weight: 500;
}

.home-link a {
  background: #7d2fa3;
  padding: 0.9rem 3.8rem;
  border: 2px solid #7d2fa3;
  border-radius: 6px;

  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: normal;

  transition: 0.4s;
}

.home-link a:hover {
  opacity: 0.7;
}

/* About-me ========================================================= */
.section__about {
  padding-bottom: 100px;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text img {
  height: 300px;
  padding-right: 50px;
}

.text__content {
  text-align: justify;
  width: 40%;
  font-size: 1.4rem;
}

.link-download {
  padding-top: 50px;
}

.link-download a {
  background: #7d2fa3;
  padding: 16px 32px;
  border-radius: 6px;

  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  font-weight: normal;

  transition: 0.4s;
}

.link-download a:hover {
  opacity: 0.7;
}

/* Projects =========================================================== */
.section__projects {
  height: 33rem;
  margin: auto;
  background: #111;
  width: 100%;
}

.section__projects h2 {
  color: #fff;
}

.carousel {
  max-width: 90rem;
  padding: 0 80px;
  margin: auto;
}

.card {
  height: 25rem;
  width: 24rem;
  border-radius: 0.5rem;
  background: #222;
  padding: 3rem;
  text-align: center;

  transition: 0.4s;
  cursor: pointer;
}

.card:hover {
  background: rgba(1, 2, 2, 0.6);
  transform: scale(1.05);
}

.card:hover .card__box {
  transform: scale(1.05);
}

.card:hover .card__box {
  transform: scale(1.05);
}

.card__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.card__box img {
  height: 130px;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.card__box h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  padding-top: 20px;
}

.card__box p {
  font-size: 1rem;
  font-weight: normal;
  color: #a2a2a2;
  text-align: center;
  padding-top: 16px;
}

/* Skills =========================================================== */
.section__skills {
  padding-top: 160px;
}
.skills-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.skills-images img {
  height: 3rem;
  margin: 1.5rem;
}

.hosted-projects {
  text-align: center;
  background: #111;
  padding-bottom: 50px;
}

.hosted-projects h3 {
  font: 400 2rem "Poppins", sans-serif;
  color: #fff;
  padding-top: 50px;
}

.hosted-projects p {
  font: 400 1.1rem "Poppins", sans-serif;
  color: #a2a2a2;
}

.hosted-projects-link {
  padding: 2rem;
  display: flex;
  align-items: center;

  transition: 0.4s;
}

.hosted-projects-link:hover {
  transform: scale(1.05);
}

.hosted-projects-link--left {
  align-items: center;
  margin-left: 10rem;
}

.hosted-projects-link--left p {
  width: 30rem;
  padding-left: 2rem;
  color: #fff;
}

.hosted-projects-link--right {
  justify-content: flex-end;
  padding-right: 10rem;
}

.hosted-projects-link--right p {
  width: 30rem;
  padding-left: 2rem;
  color: #fff;
}

.hosted-projects-link img {
  height: 10rem;
  width: 15rem;
  border-radius: 1rem;
}

/* Contact ============================================================ */
.section__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 0px;
}

.contact-content {
  width: 40rem;
}

.contact-content h3 {
  font: 600 1.2rem "Nunito", sans-serif;
  margin-bottom: 1rem;
}

.contact-content p {
  font: normal 1.4rem "Nunito", sans-serif;
  margin-bottom: 1rem;
  text-align: justify;
}

.contact-content__icons i {
  margin-right: 1.4rem;
}

.contact-content__row {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0.7rem;
}

.contact-content__row a {
  text-decoration: none;
  color: #000;
}

.contact-content__row i {
  color: #7d2fa3;
}

/* Footer ============================================================== */
.footer {
  height: 100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #202121;
  color: #fff;
}

.footer img {
  height: 40px;
  margin-right: 2rem;
}

.footer i {
  color: #7d2fa3;
}

.footer strong {
  color: #7d2fa3;
}

/* Responsive Titles ========================================================= */
@media (max-width: 360px) {
  .title {
    transition: 1.82s all;
    text-align: center;
    font: 700 1.8rem "Nunito", sans-serif;
    margin-bottom: 1.5rem;
  }
}
/* Responsive Header ================================================= */
@media (max-width: 684px) {
  .navbar a {
    transition: 1.82s all;
    padding-right: 0.5rem;
    font-size: 0.8rem;
  }

  .logo img {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 470px) {
  .navbar a {
    font-size: 0.55rem;
  }
}

/* Responsive Home=================================================== */
@media (max-width: 772px) {
  .home-link {
    transition: 1.82s all;
    padding-bottom: 12rem;
  }

  .home-link a {
    padding: 15px 40px;
  }

  .home-link__text {
    font-size: 1.4rem;
  }
}

@media (max-width: 430px) {
  .home-link {
    padding-left: 60px;
  }
}

/* Responsive About-me ================================================= */
@media (max-width: 860px) {
  .section__about {
    transition: 1.82s all;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .text img {
    display: none;
  }
  .text__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 32px;
    font-size: 1rem;
  }

  .link-download {
    margin-top: 1rem;
  }

  .link-download a {
    padding: 0.9rem 2rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 490px) {
  .text__content {
    font-size: 0.9rem;
  }

  .link-download a {
    padding: 14px 26px;
    font-size: 1rem;
  }
}

/* Responsive Projects =============================================== */
@media (max-width: 899px) {
  .section__projects {
    transition: 1.82s all;
    height: 29.5rem;
    padding-top: 50px;
  }

  .carousel {
    max-width: 35rem;
  }
}

@media (max-width: 546px) {
  .card {
    width: 100%;
    padding: 3rem;
  }
}

@media (max-width: 456px) {
  .carousel {
    padding: 0 40px;
  }
}

/* Responsive Skills ================================================= */
@media (max-width: 864px) {
  .section__skills {
    padding-top: 120px;
  }

  .skills-images img {
    transition: 1.82s all;
    height: 2rem;
    margin: 1rem;
  }

  .hosted-projects {
    margin: 0;
  }

  .hosted-projects p {
    font-size: 1rem;
  }

  .hosted-projects-link {
    flex-direction: column;
    margin: 0;
  }
}

@media (max-width: 630px) {
  .skills-images img {
    height: 1.45rem;
    margin: 0.8rem;
  }
}

@media (max-width: 470px) {
  .skills-images img {
    height: 1rem;
    margin: 0.5rem;
  }
}
@media (max-width: 340px) {
  .skills-images img {
    height: 0.8rem;
    margin: 0.5rem;
  }
}

.hosted-projects h3 {
  font-size: 1.5rem;
}

@media (max-width: 996px) {
  .hosted-projects-link--left {
    justify-content: center;
    margin-left: 0;
  }
  .hosted-projects-link--right {
    justify-content: center;
    padding-right: 0;
  }
}

@media (max-width: 484px) {
  .hosted-projects-link--left p {
    width: 15rem;
    padding: 0;
  }
  .hosted-projects-link--right p {
    width: 15rem;
    padding: 0;
  }
}

/* Responsive Contact ================================================= */
@media (max-width: 636px) {
  .contact-content {
    transition: 1.82s all;
    width: 20rem;
  }

  .contact-content h3 {
    font: 600 1.2rem "Nunito", sans-serif;
    margin-bottom: 1rem;
  }

  .contact-content p {
    font: normal 1rem "Nunito", sans-serif;
    text-align: justify;
    margin-bottom: 1rem;
  }

  .contact-content__icons i {
    margin-right: 1rem;
  }

  .contact-content__row {
    margin: 0.4rem;
  }
}

@media (max-width: 310px) {
  .contact-content {
    width: 15rem;
  }

  .contact-content h3 {
    font: 600 1.2rem "Nunito", sans-serif;
    margin-bottom: 1rem;
  }

  .info__sub-title {
    font-size: 0.8rem;
  }
}
