/* Global ================== */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 93.75%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 100px 0;
}
/* Titles =============================== */
h2 {
  text-align: center;
  font: 700 2.6rem "Nunito", sans-serif;
  margin-bottom: 3rem;
}

/* Links ========================================== */
.link {
  background: rgb(1, 196, 202);
  padding: 0.7rem 1.8rem;
  border: 2px solid rgb(0, 197, 204);
  border-radius: 6px;

  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: normal;

  transition: 0.4s;
}

.link:hover {
  opacity: 0.7;
}

/* Scrollbar ================== */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Header ================== */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.5);

  height: 80px;

  position: fixed;
  width: 100%;
  z-index: 999;
}

.avatar {
  display: flex;
  border-radius: 50px;
}

.avatar img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.nav a {
  text-decoration: none;
  font-size: 1.1rem;
  padding-right: 1.2rem;
  color: #fff;
  font-weight: 600;

  transition: 0.4s;
}

.nav a:hover {
  color: rgb(61, 61, 61);
}

/* Find-me ================== */
#find-me {
  display: flex;
  align-items: center;
  background: url("./assets/perfil.svg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
}

.find-me-link {
  margin-left: 25rem;
}

/* About-me ================== */
#about h2 {
  background: #fcfcfc;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content img {
  height: 400px;
}

.box-right {
  text-align: justify;
  width: 40%;
}

.curriculum {
  margin-top: 3rem;
}

/* Projects ================== */
#projects {
  height: 33rem;
  margin: auto;
  background: #111;
  width: 100%;
}

#projects h2 {
  color: #fff;
}

.carousel {
  max-width: 90rem;
  padding: 0 80px;
  margin: auto;
}

.card {
  height: 25rem;
  width: 25rem;
  border-radius: 0.25rem;
  background: #222;
  padding: 3rem;
  text-align: center;

  transition: 0.4s;
  cursor: pointer;
}

.card:hover {
  background: rgba(1, 2, 2, 0.6);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.card:hover .box {
  transform: scale(1.05);
}

.box img {
  height: 10rem;
  width: 10rem;
  border-radius: 0.25rem;
  object-fit: cover;
  transition: all 0.3s ease;
}

.box h1 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  margin-top: 2.4rem;
}

.box p {
  font-size: 1rem;
  font-weight: normal;
  color: #a2a2a2;
  text-align: center;
  margin-top: 1rem;
}

/* Skills ================== */
#skills {
 margin-top: 5rem;
}
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons img {
  height: 3rem;
  margin: 1.5rem;
}

.deploy {
  width: 100%;
  text-align: center;
  background: #111;
  margin-top: 2rem;
}

.deploy h3 {
  font: 400 2rem "Poppins", sans-serif;
  color: #fff;
  padding-top: 2rem;
}

.deploy p {
  font: 400 1rem "Poppins", sans-serif;
  color: #fff;
}

.deploy-link {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.left {
  align-items: center;
  margin-left: 10rem;
}

.left p {
  width: 30rem;
  margin-left: 2rem;
  color: #fff;
}

.right {
  justify-content: flex-end;
  margin-right: 10rem;
}

.right p {
  width: 30rem;
  margin-left: 2rem;
  color: #fff;
}

.deploy img {
  height: 10rem;
  width: 15rem;
  border-radius: 1rem;
}

/* Footer ================== */
footer {
  height: 100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #202121;
  color: #fff;
}

footer img {
  height: 60px;
}
