/* Global ========================================================== */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 93.75%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 100px 0;
}
/* Titles ========================================================= */
h2 {
  text-align: center;
  font: 700 2.6rem "Nunito", sans-serif;
  margin-bottom: 3rem;
}

/* Scrollbar ======================================================= */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Header ========================================================== */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.5);

  height: 80px;

  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo {
  display: flex;
  border-radius: 50px;
}

.logo img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.navbar a {
  text-decoration: none;
  font-size: 1rem;
  padding-right: 1.6rem;
  color: #fff;
  font-weight: 600;

  transition: 0.4s;
}

.navbar a:hover {
  color: rgb(61, 61, 61);
}

/* Home =========================================================== */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./assets/perfil.svg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-position: left center;
  width: 100%;
  height: 100vh;
  color: #fff;
  min-height: 500px;
}

.link {
  width: 25rem;
  margin-right: 40rem;
}

.link a {
  background: #7d2fa3;
  padding: 0.9rem 3.8rem;
  border: 2px solid #7d2fa3;
  border-radius: 6px;

  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: normal;

  transition: 0.4s;
}

.link a:hover {
  opacity: 0.7;
}

.link__text {
  font-size: 2rem;
  margin: 15px 0;
}

.link__text span {
  color: rgb(238, 71, 196);
  font-weight: 500;
}

/* About-me ========================================================= */
.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text img {
  height: 300px;
  margin-right: 7rem;
}

.text__content {
  text-align: justify;
  width: 40%;
  font-size: 1.4rem;
}

.download {
  margin-top: 3rem;
}

.download a {
  background: #7d2fa3;
  padding: 0.9rem 2.8rem;
  border: 2px solid #7d2fa3;
  border-radius: 6px;

  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  font-weight: normal;

  transition: 0.4s;
}

.download a:hover {
  opacity: 0.7;
}

/* Projects =========================================================== */
#projects {
  height: 33rem;
  margin: auto;
  background: #111;
  width: 100%;
}

#projects h2 {
  color: #fff;
}

.carousel {
  max-width: 90rem;
  padding: 0 80px;
  margin: auto;
}

.card {
  height: 25rem;
  width: 25rem;
  border-radius: 0.25rem;
  background: #222;
  padding: 3rem;
  text-align: center;

  transition: 0.4s;
  cursor: pointer;
}

.card:hover {
  background: rgba(1, 2, 2, 0.6);
  transform: scale(1.05);
}

.card:hover .card__box {
  transform: scale(1.05);
}

.card:hover .card__box {
  transform: scale(1.05);
}

.card__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.card__box img {
  height: 10rem;
  width: 8rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.card__box h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  margin-top: 2.4rem;
}

.card__box p {
  font-size: 1rem;
  font-weight: normal;
  color: #a2a2a2;
  text-align: center;
  margin-top: 1rem;
}

/* Skills =========================================================== */
#skills {
  margin-top: 4rem;
}
.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.images img {
  height: 3rem;
  margin: 1.5rem;
}

.deploy {
  width: 100%;
  text-align: center;
  background: #111;
}

.deploy h3 {
  font: 400 2rem "Poppins", sans-serif;
  color: #fff;
  padding-top: 2rem;
}

.deploy p {
  font: 400 1.4rem "Poppins", sans-serif;
  color: #a2a2a2;
}

.deploy-link {
  padding: 2rem;
  display: flex;
  align-items: center;

  transition: 0.4s;
}

.deploy-link:hover {
  transform: scale(1.05);
}

.left {
  align-items: center;
  margin-left: 10rem;
}

.left p {
  width: 30rem;
  margin-left: 2rem;
  color: #fff;
}

.right {
  justify-content: flex-end;
  margin-right: 10rem;
}

.right p {
  width: 30rem;
  margin-left: 2rem;
  color: #fff;
}

.deploy img {
  height: 10rem;
  width: 15rem;
  border-radius: 1rem;
}

/* Contact ============================================================ */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: -10rem;
}

.contact-content {
  width: 40rem;
}

.contact-content h3 {
  font: 600 1.2rem "Nunito", sans-serif;
  margin-bottom: 1rem;
}

.contact-content p {
  font: normal 1.4rem "Nunito", sans-serif;
  margin-bottom: 1rem;
  text-align: justify;
}

.contact-content__icons i {
  margin-right: 1.4rem;
}

.contact-content__row {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0.7rem;
}

.contact-content__row a {
  text-decoration: none;
  color: #000;
}

.contact-content__row i {
  color: #7d2fa3;
}

/* Footer ============================================================== */
footer {
  height: 100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #202121;
  color: #fff;
}

footer img {
  height: 40px;
  margin-right: 2rem;
}

footer i {
  color: #7d2fa3;
}

footer strong {
  color: #7d2fa3;
}

/* Responsive Titles ========================================================= */
@media (max-width: 360px) {
  h2 {
    transition: 1.82s all;
    text-align: center;
    font: 700 2.6rem "Nunito", sans-serif;
    margin-bottom: 1.5rem;
  }
}
/* Responsive Header ================================================= */
@media (max-width: 684px) {
  .navbar a {
    transition: 1.82s all;
    font-size: 0.8rem;
    padding-right: 0.4rem;
  }

  .logo img {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 470px) {
  .navbar a {
    font-size: 0.6rem;
  }
}

/* Responsive Home=================================================== */
@media (max-width: 1080px) {
  .link {
    transition: 1.82s all;
    margin-right: 10rem;
  }
}
@media (max-width: 772px) {
  .link {
    margin-right: 0rem;
    margin-left: 5rem;
    margin-bottom: 12rem;
  }
}

@media (max-width: 558px) {
  .link {
    margin-left: 4rem;
  }

  .link__text {
    font-size: 1.4rem;
  }
}

/* Responsive About-me ================================================= */
@media (max-width: 800px) {
  #about {
    transition: 1.82s all;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .text img {
    display: none;
  }
  .text__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 2rem;
    font-size: 1rem;
  }

  .download {
    margin-top: 3rem;
  }

  .download a {
    padding: 0.9rem 2rem;
    font-size: 1.4rem;
  }
}

/* Responsive Projects =============================================== */
@media (max-width: 899px) {
  #projects {
    transition: 1.82s all;
    height: 31rem;
    padding-top: 50px;
  }

  .carousel {
    max-width: 35rem;
    padding: 0 80px;
    margin: auto;
  }
}

@media (max-width: 546px) {
  .card {
    width: 100%;
    padding: 2rem;
  }
}

@media (max-width: 456px) {
  .carousel {
    padding: 0 40px;
  }

  .card__box p {
    font-size: 0.8rem;
  }
}

/* Responsive Skills ================================================= */
@media (max-width: 864px) {
  #skills {
    transition: 1.82s all;
    padding-top: 50px;
  }
  .images img {
    transition: 1.82s all;
    height: 2rem;
    margin: 1rem;
  }

  .deploy {
    margin: 0;
  }

  .deploy p {
    font-size: 1rem;
  }

  .deploy-link {
    flex-direction: column;
    margin: 0;
  }
}

@media (max-width: 580px) {
  .images img {
    height: 1.45rem;
    margin: 0.8rem;
  }
}

@media (max-width: 430px) {
  .images img {
    height: 1.2rem;
    margin: 0.5rem;
  }
}
@media (max-width: 340px) {
  .images img {
    height: 0.8rem;
    margin: 0.5rem;
  }
}

@media (max-width: 996px) {
  .left {
    justify-content: center;
    margin-left: 0;
  }
  .right {
    justify-content: center;
    margin-right: 0;
  }
}

@media (max-width: 484px) {
  .left p {
    width: 15rem;
    margin: 0;
  }
  .right p {
    width: 15rem;
    margin: 0;
  }
}

/* Responsive Contact ================================================= */
@media (max-width: 636px) {
  .contact-content {
    transition: 1.82s all;
    width: 20rem;
  }

  .contact-content h3 {
    font: 600 1.2rem "Nunito", sans-serif;
    margin-bottom: 1rem;
  }

  .contact-content p {
    font: normal 1rem "Nunito", sans-serif;
    text-align: justify;
    margin-bottom: 1rem;
  }

  .contact-content__icons i {
    margin-right: 1rem;
  }

  .contact-content__row {
    margin: 0.4rem;
  }
}

@media (max-width: 310px) {
  .contact-content {
    width: 15rem;
  }

  .contact-content h3 {
    font: 600 1.2rem "Nunito", sans-serif;
    margin-bottom: 1rem;
  }

  .info__sub-title {
    font-size: 0.8rem;
  }
}
